# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

main

env.sh
config.yaml
config.base
deploy_prod.sh
test.sh

testdata/
dist/

# Dependency directories (remove the comment below to include it)
# vendor/